@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="6" SizeMD="6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="4">
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    <RadzenLabel Text="Header" />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="4">
                    <SearchPopup/>
                    <RadzenUpload Url="upload/single" Icon="upload" ChooseText="Upload" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"></RadzenUpload>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <Explorer />
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
}
